apiVersion: apps/v1
kind: Deployment 
metadata: 
  name: result-deploy 
  labels: 
    app: result 
spec: 
  replicas: 1
  selector: 
    matchLabels: 
      app: result
  template: 
    metadata: 
      labels: 
        app: result
    spec: 
      containers: 
      - name: result-cont 
        image: 
        ports: 
        - containerPort: 80


